# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
env/
myenv/

# Environment variables
.env

# VS Code settings
.vscode/

# Python packaging artifacts
*.egg-info/
dist/
build/

# Upload folders
uploads/

# Logs
*.log

# SQLite or temp DB (if used)
*.sqlite3
*.db

# Mac and Windows system files
.DS_Store
Thumbs.db

